# List of keybindings for Arcolinux imported in the config i3 file

set $browser1 brave
set $browser2 chromium
# set $browser3 "firefox"
set $terminal kitty
set $file_manager pcmanfm

#################################################################
# SUPER + FUNCTION KEYS
#################################################################

# start xfce4-appfinder
#bindsym mod1+F2 exec --no-startup-id xfce4-appfinder --collapsed

bindsym $mod+F1 exec $browser1
bindsym $mod+F2 exec $browser2
# bindsym $mod+F3 exec $browser3; workspace $ws3
bindsym $mod+F3 exec $file_manager
#bindsym $mod+F4 exec --no-startup-id vlc; focus
bindsym $mod+F5 exec libreoffice --calc ~/PersonalHome/Lavoro/PizzaExpress/WorkingHours_2025.ods
bindsym $mod+F6 exec evolution
#bindsym $mod+F7 exec --no-startup-id xfce4-appfinder
bindsym $mod+F9 exec --no-startup-id keybindings



#################################################################
# SUPER + KEYS
#################################################################

# switch to workspace
bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9

bindsym $mod+0 exec powermenu

# focus the parent container
bindsym $mod+a focus parent

bindsym $mod+c exec gsimplecal

# start rofi
bindsym $mod+d exec --no-startup-id rofi -show drun -show-icons -monitor 1 

# enter fullscreen mode for the focused container
# Super + F in arcolinux is execute thunar
bindsym $mod+f fullscreen toggle

# Open a dmenu to select the modified git repositories
bindsym $mod+g exec git_modified_repos

# split in horizontal orientation
bindsym $mod+h split h

# split in horizontal orientation
bindsym $mod+b exec --no-startup-id vim_keys

# start passmenu
bindsym $mod+p exec passmenu -l 15 # "passmenu -l 30 -w 400"

#bindsym $mod+t exec --no-startup-id pkill picom
bindsym $mod+t exec --no-startup-id clock

# split in vertical orientation
bindsym $mod+v split v

bindsym $mod+w exec --no-startup-id rofi -show window -show-icons

# change focus
bindsym $mod+$left focus left
bindsym $mod+$down focus down
bindsym $mod+$up focus up
bindsym $mod+$right focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

#bindsym Mod1+Tab workspace next
#bindsym Mod1+Shift+Tab workspace prev
bindsym $mod+Tab workspace back_and_forth

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# start a terminal
bindsym $mod+Return exec $terminal

bindsym $mod+Escape --release exec --no-startup-id xkill



#################################################################
# SUPER + SHIFT KEYS
#################################################################

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace $ws1; workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2; workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3; workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4; workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5; workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6; workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7; workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8; workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9; workspace $ws9


bindsym $mod+Shift+F1 exec brave --incognito

#bindsym $mod+Shift+F3 exec $terminal --class ranger -e ranger
bindsym $mod+Shift+F3 exec $terminal --class yazi -e yazi

# reload the configuration file
bindsym $mod+Shift+c reload

# start dmenu
bindsym $mod+shift+d exec --no-startup-id dmenu_run -i -fn 'FiraCode Nerd Font:size=10' -l 15

#bindsym $mod+Shift+d --release exec "killall dunst; exec notify-send 'restart dunst'"

# Select and open config files
bindsym $mod+shift+h exec --no-startup-id listconfigs

# Passwords gui app
bindsym $mod+Shift+p exec qtpass

# kill focused window
bindsym $mod+Shift+q kill

# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart

# Simple todo list with dmenu
bindsym $mod+Shift+t exec --no-startup-id todomenu

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# move focused window
bindsym $mod+Shift+$left move left
bindsym $mod+Shift+$down move down
bindsym $mod+Shift+$up move up
bindsym $mod+Shift+$right move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right


#################################################################
# SUPER + ALT + CONTROL KEYS
#################################################################

# Cheat sheets
bindsym $mod+control+h  exec --no-startup-id stay ch_sh

################# screenshots                      

bindsym Print exec --no-startup-id flameshot gui

################# audio settings                   

#bindsym XF86AudioRaiseVolume exec --no-startup-id "amixer -D pulse sset Master '5%+'"
bindsym XF86AudioRaiseVolume exec --no-startup-id "amixer set Master '10%+'"
#bindsym XF86AudioLowerVolume exec --no-startup-id "amixer -D pulse sset Master '5%-'"
bindsym XF86AudioLowerVolume exec --no-startup-id "amixer set Master '10%-'"
#bindsym XF86AudioMute exec --no-startup-id "amixer -D pulse set Master toggle"
bindsym XF86AudioMute exec --no-startup-id "amixer set Master 1+ toggle"



###########################
########## MODES ##########
###########################

# Backup exit
# Press ctrl+alt+x - check toolbar for next choices
bindsym $mod+Shift+0 mode "$mode_system"

set $mode_system System (l) logout, (r) reboot, (s) shutdown
mode "$mode_system" {
    bindsym l exec --no-startup-id ~/.config/i3/scripts/i3exit.sh logout, mode "default"
    bindsym r exec --no-startup-id ~/.config/i3/scripts/i3exit.sh reboot, mode "default"
    bindsym s exec --no-startup-id ~/.config/i3/scripts/i3exit.sh shutdown, mode "default"

    # back to normal: Enter or Escape
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

bindsym $mod+m mode "$mode_layout"
set $mode_layout (s)tacking, (t)abbed, (l)split
mode "$mode_layout" {
    bindsym s layout stacking, mode "default"
    bindsym t layout tabbed, mode "default"
    bindsym l layout toggle split, mode "default"

    # exit layout mode: "Enter" or "Escape"
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

# Resize window (you can also use the mouse for that)
bindsym $mod+r mode "resize"
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode
        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym j resize shrink width 5 px or 5 ppt
        bindsym k resize grow height 5 px or 5 ppt
        bindsym l resize shrink height 5 px or 5 ppt
        bindsym semicolon resize grow width 5 px or 5 ppt

        # same bindings, but for the arrow keys
        bindsym Left resize shrink width 5 px or 5 ppt
        bindsym Down resize grow height 5 px or 5 ppt
        bindsym Up resize shrink height 5 px or 5 ppt
        bindsym Right resize grow width 5 px or 5 ppt

        # exit resize mode: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

